.App {
  text-align: center;
  background-color: #191919;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header .container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 95%;
  height: 90vh;
  margin: 20px;
  border: 1px solid #fff;
  /* border: 1px solid #d5a46b; */
  border-radius: 5px;
}
.main-content{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
}

.twitter-btn{
  width: 40px;
 height: 40px;
  cursor: pointer;
  position: relative;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.twitter-logo{
  width: 20px;
  height: 20px;
position: absolute;
left: 10px;
top:12px;
}

.intent-tweet{
  cursor: pointer;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
}

.intent-tweet a{
  text-decoration: none;
  color: #fff;
}